/*Border Animate*/
@keyframes changescaleup {
	from {
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
	}
	to {
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
	}
}
@keyframes changescaledown {
	from {
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
	}
	to {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
	}
}
html, body {
	background-color: #FFFFFF;
	font-family: "brandon_text", Helvetica, Arial, sans-serif;
	color: #54585a;
	font-size: 16px;
}
h1 {
	font-weight: 600;
	text-transform: uppercase;
	margin: 0;
	font-size: 1.3em;
}
p {
	font-weight: 300;
	margin: 30px 0;
	font-size: 1.125em;
}
.active, .blue {
	color: #0057b8 !important;
}
#main {
	width: 1920px;
	height: 1200px;
	overflow: hidden;
}
.left-nav {
	padding: 50px 0 0 50px;
	float: left;
	width: 400px;
	height: 1150px;
	position: relative;
}
.left-nav div {
	margin-bottom: 100px;
	padding-right: 100px;
}
nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
nav ul li {
	list-style-type: none;
	font-weight: 500;
	text-transform: uppercase;
	margin: 30px 0;
}
nav ul li a {
	color: #54585a;
	text-decoration: none;
	font-size: 1.15em;
}
nav ul li a:hover {
	color: #0057b8;
}
.left-nav div.logo {
	position: absolute;
	bottom: 50px;
	left: 50px;
	margin: 0;
	padding-right: 0;
}
section#playbackArea {
	width: 1470px;
	height: 1200px;
	float: left;
	background: url("img/floorplan.jpg") 0 0 no-repeat transparent;
	position: relative;
}
a.close {
	position: absolute;
	top: 0px;
	left: 1375px;
	height: 55px;
	width: 55px;
	background-color: rgba(84, 88, 90, 0.5);
	color: #FFF;
	text-align: center;
	vertical-align: middle;
	display: block;
	text-decoration: none;
	font-size: 3em;
	padding: 20px;
	z-index: 1000;
	display: none;
}
.video-playback a.touchpoint {
	display: block;
	height: 34px;
	width: 34px;
	position: absolute;
	border: 5px solid #0057b8;
	border-radius: 100%;
	background-color: #0057b8;
}
.video-playback a.touchpoint:hover {
	animation: 0.75s infinite alternate changescaleup;
	background-color: transparent;
}
.video-playback a.touchpoint#lvs {
	top: 410px;
	left: 1340px;
}
.video-playback a.touchpoint#stafford {
	top: 280px;
	left: 500px;
}
.video-playback a.touchpoint#air-wedge {
	top: 560px;
	left: 1110px;
}
.video-playback a.touchpoint#duo-hat {
	top: 570px;
	left: 190px;
}
.video-playback a.touchpoint#trio-quad {
	top: 810px;
	left: 840px;
}
.video-playback a.touchpoint#uno {
	top: 270px;
	left: 1020px;
}
.video-playback a.touchpoint#retro-c {
	top: 90px;
	left: 730px;
}
.video-playback a.touchpoint span {
	background-color: #0057b8;
	display: block;
	width: 34px;
	height: 34px;
	position: relative;
	border-radius: 100%;
}
.video-playback a.touchpoint:hover span {
	animation: 0.75s infinite alternate changescaledown;
}
.video-playback video {
	display: none;
}