/*Border Animate*/
@keyframes changescaleup {
	from {
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
	}
	to {
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4); 
        transform: scale(1.4);
	}
}
@keyframes changescaledown {
	from {
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
	}
	to {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
	}
}
html, body {
	background-color: #FFFFFF;
	font-family: "brandon_text", Helvetica, Arial, sans-serif;
	color: #54585a;
	font-size: 16px;
	height: 1200px;
	width: 1920px;
}
h1 {
	font-weight: 600;
	text-transform: uppercase;
	margin: 0;
	font-size: 32px;
}
p {
	font-weight: 300;
	margin: 30px 0;
	font-size: 18px;
	line-height: 28px;
}
.active, .blue {
	color: #62b5e5 !important;
}
#main {
	height: 1200px;
	overflow: hidden;
}
.left-nav {
	margin: 50px 0 0 50px;
	float: left;
	width: 400px;
	height: 1200px;
	position: relative;
}
.left-nav div {
	margin-bottom: 100px;
	margin-right: 100px;
}
nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
nav ul li {
	list-style-type: none;
	font-weight: 500;
	text-transform: uppercase;
	margin: 30px 0;
}
nav ul li span {
	color: #54585a;
	cursor: pointer;
	text-decoration: none;
	font-size: 18px;
}
nav ul li span:hover {
	color: #62b5e5;
}
.left-nav div.logo {
	position: absolute;
	bottom: 100px;
	left: 0;
	margin: 0;
	padding-right: 0;
}
.logo img {
	width: 175px;
	height: 43px;
}
section#playbackArea {
	height: 1200px;
	float: left;
	background: url(floorplan.jpg) 0 0 no-repeat rgba(0, 0, 0, 0);
	background-size: contain;
	position: relative;
	width: 1470px;
}
span.close, span.pause, span.play {
	background: url(close.png) 0 0 no-repeat transparent;
	background-size: contain;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 1395px;
	height: 55px;
	width: 55px;
	color: #FFF;
	text-decoration: none;
	padding: 10px;
	z-index: 1000;
	display: none;
}
span.play {
	background: url(play.png) 0 0 no-repeat transparent;
	background-size: contain;
	top: 80px;
}
span.pause {
	background: url(pause.png) 0 0 no-repeat transparent;
	background-size: contain;
	top: 160px;
}

.video-playback span.touchpoint {
	display: block;
	height: 34px;
	width: 34px;
	position: absolute;
	cursor: pointer;
	border: 5px solid #62b5e5;
	border-radius: 100%;
	background-color: #62b5e5;
}
.video-playback span.touchpoint:hover, .video-playback span.touchpoint:active {
	animation: 0.75s infinite alternate changescaleup;
	background-color: transparent;
}
.video-playback span.touchpoint#lvs {
	bottom: 746px;
	left: 1340px;
}
.video-playback span.touchpoint#stafford {
	bottom: 876px;
	left: 500px;
}
.video-playback span.touchpoint#air-wedge {
	bottom: 596px;
	left: 1110px;
}
.video-playback span.touchpoint#duo-hat {
	bottom: 586px;
	left: 190px;
}
.video-playback span.touchpoint#trio-quad {
	bottom: 346px;
	left: 840px;
}
.video-playback span.touchpoint#uno {
	bottom: 886px;
	left: 1020px;
}
.video-playback span.touchpoint#retro-c {
	bottom: 1066px;
	left: 730px;
}
.video-playback span.touchpoint span {
	background-color: #62b5e5;
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	position: relative;
	border-radius: 100%;
}
.video-playback span.touchpoint:hover span {
	animation: 0.75s infinite alternate changescaledown;
}
.video-playback video {
	display: none;
	height: 1200px;
	width: 1470px;
	background: url(floorplan.jpg) 0 0 no-repeat transparent;
	background-size: contain;
}