/*Border Animate*/
@keyframes changescaleup {
	from {
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
	}
	to {
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
	}
}
@keyframes changescaledown {
	from {
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
	}
	to {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
	}
}
html, body {
	background-color: #FFFFFF;
	font-family: "brandon_text", Helvetica, Arial, sans-serif;
	color: #54585a;
	font-size: 1.33333vh;
	height: 100vh;
}
h1 {
	font-weight: 600;
	text-transform: uppercase;
	margin: 0;
	font-size: 1.3em;
}
p {
	font-weight: 300;
	margin: 2.5vh 0;
	font-size: 1.125em;
	line-height: 2.33333vh;
}
.active, .blue {
	color: #62b5e5 !important;
}
#main {
	height: 100vh;
	overflow: hidden;
}
.left-nav {
	margin: 4.1667vh 0 0 4.1667vh;
	float: left;
	width: 20.834vw;
	height: 100vh;
	position: relative;
}
.left-nav div {
	margin-bottom: 8.33334vh;
	margin-right: 5.20834vw;
}
nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
nav ul li {
	list-style-type: none;
	font-weight: 500;
	text-transform: uppercase;
	margin: 2.5vh 0;
}
nav ul li a {
	color: #54585a;
	text-decoration: none;
	font-size: 1.15em;
}
nav ul li a:hover {
	color: #62b5e5;
}
.left-nav div.logo {
	position: absolute;
	bottom: 8.33334vh;
	left: 0;
	margin: 0;
	padding-right: 0;
}
.logo img {
	width: 9.115vw;
	height: 2.24vw;
}
section#playbackArea {
	height: 100vh;
	float: left;
	background: url("floorplan.jpg") 0 0 no-repeat rgba(0, 0, 0, 0);
	background-size: cover;
	position: relative;
	width: 76.563vw;
}
a.close {
	position: absolute;
	top: 0;
	left: 71.59vw;
	height: 4.584vh;
	width: 2.865vw;
	background-color: rgba(84, 88, 90, 0.5);
	color: #FFF;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	font-size: 3em;
	padding: 1.6667vh 1.04169vw;
	z-index: 1000;
	display: none;
}
.video-playback a.touchpoint {
	display: block;
	height: 2.834vh;
	width: 1.771vw;
	position: absolute;
	border: 0.261vw solid #62b5e5;
	border-radius: 100%;
	background-color: #62b5e5;
}
.video-playback a.touchpoint:hover {
	animation: 0.75s infinite alternate changescaleup;
	background-color: transparent;
}
.video-playback a.touchpoint#lvs {
	top: 34.1667vh;
	left: 69.7919vw;
}
.video-playback a.touchpoint#stafford {
	top: 23.3333vh;
	left: 26.04169vw;
}
.video-playback a.touchpoint#air-wedge {
	top: 46.6667vh;
	left: 57.8127vw;
}
.video-playback a.touchpoint#duo-hat {
	left: 9.89585vw;
	top: 47.5vh;
}
.video-playback a.touchpoint#trio-quad {
	top: 67.5vh;
	left: 43.75vw;
}
.video-playback a.touchpoint#uno {
	top: 22.5vh;
	left: 53.125vw;
}
.video-playback a.touchpoint#retro-c {
	top: 7.5vh;
	left: 38.02086vw;
}
.video-playback a.touchpoint span {
	background-color: #62b5e5;
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	border-radius: 100%;
}
.video-playback a.touchpoint:hover span {
	animation: 0.75s infinite alternate changescaledown;
}
.video-playback video {
	display: none;
	height: 100%;
	width: 100%;
}